@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

* {
    box-sizing: border-box; /* W3Schools: universal selector "*": selects all elements */
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #292930;
    color: white;
    font-family: Arial, sans-serif;
    background-image: url("./assets/images/BackGround.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0f1116;
    border-bottom: 1px solid rgba(223, 157, 2, 0.921);;
}

.navbar-links {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 25px;
}

.navbar-logo {
    font-family: "Goldman", sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.navbar-links button {
    font-family: "Orbitron", sans-serif;
    font-size: 12px; 
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.navbar-links button:hover {
    text-decoration: underline;
    text-underline-offset: 6px; 
    color: rgba(223, 157, 2, 0.921);
}

.login button {
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 174, 0, 0.869);
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
}

.login button:hover {
    color: black;
    background-color: rgba(255, 174, 0, 0.869);
}
#bodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainContent {
    flex: 1;
    padding: 30px;
}
.footer {
    font-family: "Orbitron", sans-serif;
    font-size: 10px; 
    text-align: center;
    padding: 15px;
    background-color: #0f1116;
    border-top: 1px solid rgba(223, 157, 2, 0.921);
}

.movieImage,
.comicImage,
.movieInventoryImage,
.comicInventoryImage {
  width: 150px;
  height: 220px;
  object-fit: cover;
  display: block;
}
/*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
/* Phone screen */
@media (max-width: 500px) {
    .moviegrid,
    .comicgrid {
        grid-template-columns: 180px;
    }

    .homelink {
        flex-direction: column;
        align-items: center;
    }

    .mainContent {
        padding: 15px;
    }
}
/* Tablet screen */
@media (max-width: 900px) {
    .moviegrid,
    .comicgrid {
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
    }

    .homelink {
        flex-wrap: wrap;
    }
}